/*** RESET ***/
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    background-color:#f2f2f2;
}

/*** Racourcis ***/
.ml-1 {
    margin-left: 10px;
}
.mr-1 {
    margin-right: 10px;
}


/*** Imports ***/

@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap'),
        './variables',
        './../../app',
        './../../components/Sections/HomeApp/home-app',
        './../../components/Sections/SearchApp/search-app',
        './../../components/Buttons/button-nav',
        './../../components/Buttons/button-app',
        './../../components/Buttons/button-cta',
        './../../components/Layouts/Headers/header-app',
        './../../components/Layouts/Navbars/navbar-app',
        './../../components/Sections/SearchApp/CardsApp/card-app'